* {
    background-color: #050505;
}
body {
    background-color: #050505;
}

.console {
  margin-right: 10px
}

.console .btn_signup {
  background-color: rgb(15 15 15);
}

.le-format {
    font-family: 'GTWalsheimPro-Regular.ttf';
    font-size: 15px;
    display: block;
    margin-top: 230px;
}
.le-format .a {
    color: white;
}

body h6 {
  font-family: 'GTWalsheimPro-Regular.ttf';
}
html,body{
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
    color: #FFFFFF;
    overflow-x: hidden;
    font-family: 'GTWalsheimPro-Bold.ttf';
}


@font-face {
    font-family: 'GTWalsheimPro-Bold.ttf';
    src: url(../font/GTWalsheimPro-Bold.ttf) format("truetype");
}

@font-face {
    font-family: 'GTWalsheimPro-Regular.ttf';
    src: url(../font/GTWalsheimPro-Regular.ttf) format("truetype");
}




.main_body.home_page .hero_section{
background-color: #050505;
}
.container{
    max-width: 1200px;
}
.nav_wrapper .dropdown:hover>.dropdown-menu {
  display: block;
}
p{
    font-size: 16px;
    line-height: 24px;
}

/*top dark css starts*/
.nav_wrapper {
    background-color: #050505;
    height: 60px;

}
.nav_wrapper .navbar{
     border-bottom: 1px solid #84848442;
     height: 60px;
}

.nav_wrapper .navbar  .nav-item .nav-link{
    font-size: 15px;
    line-height: 15px;
    font-weight: 500;
    padding-left: 15px;
    padding-right: 15px;
    color: rgb(132,132,132);
}
.nav_wrapper .navbar .navbar-brand{
    font-size: 15px;
    line-height: 15px;
    font-weight: 500;
    color: rgb(132,132,132);
}
.nav_wrapper .navbar .navbar-brand:hover{
 color: #ffffff;
}
.nav_wrapper .navbar .navbar-brand img{
    width: 35px;
    margin-right: .3rem;
}


.nav_wrapper .navbar  .nav-item .nav-link:hover{
    color: #ffffff;
}
.nav_wrapper .navbar .btn_search{
    background-color: rgb(15 15 15);
    border-radius: 50px;
    width: 35px;
    height: 35px;
    padding-left: 0px;
    display: flex;
    justify-content: center;align-items: center;
    font-weight: lighter;
}
.nav_wrapper .navbar .btn_search i{
     color: rgb(202,202,202);
}
.nav_wrapper .navbar .btn_search:hover , .nav_wrapper .navbar .btn_signin:hover, .btn_signup:hover{
opacity: .9;
}
.nav_wrapper .navbar .btn_signin{
    background-color: rgb(15 15 15);
    border-radius: 50px;
    color: rgb(202,202,202) !important;
    height: 35px;
    display: flex;
    align-items: center;
    margin-left: .75rem;
    margin-right: .75rem;
    padding: 0px 1rem !important;
    font-family: 'GTWalsheimPro-Bold.ttf';
}
.nav_wrapper .navbar .dropdown-menu{
    background-color: rgb(20,20,20);
}
.nav_wrapper .navbar .dropdown-menu .dropdown-item{
    color: rgb(132,132,132);
}

.nav_wrapper .navbar .dropdown-menu .dropdown-item:hover{
    background-color: transparent;
    color: #ffffff;
}

.btn_signup{
    background-color: rgb(255, 110, 48);
    border-radius: 50px;
    color: #ffffff !important;
    height: 35px;
    display: flex;
    align-items: center;
    font-weight: 500;
    padding: 0px 1rem !important;
    font-family: 'GTWalsheimPro-Bold.ttf';
}


.main_body.home_page .hero_content {
    height: 100vh;
    display: flex;
    align-items: top;
}
.main_body.home_page .hero_content h4{
    font-size: 100px;
    line-height: 125px;
    font-weight: 700;
    margin-bottom: 1rem;
        letter-spacing: -.046em;
}
.main_body.home_page .hero_content h6{
    font-size: 28px;
    line-height: 42px;
    color:#b3b3b3;
    margin-bottom: 2rem;
        letter-spacing: -.014em;
}
.btn_signup_hero{
    background-color: rgb(255, 110, 48);
    color: #ffffff !important;
    display: flex;
    align-items: center;
    font-weight: 500;
    padding: 0px 1.25rem !important;
    letter-spacing: -.015em;
    line-height: 1; outline: none;
    font-size: 18px;
    line-height: 18px;
    height: 3.3rem;
    border-radius: 2.6rem;
    font-family: 'GTWalsheimPro-Bold.ttf';
}
.btn_sigin_hero{
    background-color: rgb(15 15 15);
    color: rgb(202,202,202) !important;
    display: flex;
    align-items: center;
    margin-left: 1rem;
    line-height: 1; outline: none;
     padding: 0px 1.25rem !important;
    font-size: 18px;
    line-height: 18px;
    height: 3.3rem;
    border-radius: 2.6rem;
    font-family: 'GTWalsheimPro-Bold.ttf';

}
.btn_sigin_hero:hover, .btn_signup_hero:hover{
    opacity: .9;
}
    /*Responsive*/



    /*// Large devices (desktops, less than 1200px)*/
    @media (max-width: 1199.98px) {



    }

    /*// Medium devices (tablets, less than 992px)*/
    @media (max-width : 1010px ){

.main_body.home_page .hero_content h4 {
    font-size: 72px;
    line-height: 78px;
}
.main_body.home_page .hero_content h6 {
    font-size: 25px;
    line-height: 38px;
}
.nav_wrapper .navbar {
    padding: 0px;
}
.nav_wrapper .navbar .nav-item .nav-link {
    padding-left: 7px;
    padding-right: 7px;
}
.nav_wrapper .navbar .nav-item .nav-link {
    font-size: 12px;}

    .nav_wrapper .navbar-toggler{
    border-color: rgb(132,132,132);
        padding: .1rem .25rem;
}

.nav_wrapper .navbar-toggler-icon{
    align-items: center;
    justify-content: center;
    display: flex;
    color: rgb(132,132,132);
}

    }


    /*// Extra small devices (portrait phones, less than 576px)*/
    @media (max-width: 575.98px) {
  .main_body.home_page .hero_content h4 {
    font-size: 51px;
    line-height: 55px;
}
.main_body.home_page .hero_content h6 {
    font-size: 22px;
    line-height: 34px;
}
.nav_wrapper .navbar {
    padding: 0px 15px;
}
.navbar-collapse.show{
    background-color: black;
}
.nav-item{
    border-bottom: 1px solid #84848442;
    padding-top: .75rem;
    padding-bottom: .75px;
}
.nav_wrapper .navbar .btn_signin {
    margin-left: 0rem;
    margin-right: 0rem;
    }
.main_body.home_page .hero_content {
    height: 100vh;}


    }
.row {
    display: block;
    margin-top: 50px;
    margin-bottom: 50px;
}
.d-flexjustify-content-center {
    padding-top: 25px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.h_formatting {
    padding-top: 150px;
    display: block;
}

.btn_login{
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    color: rgb(202,202,202) !important;
    height: 35px;
    display: flex;
    align-items: center;
    margin-left: .75rem;
    margin-right: .75rem;
    padding: 0px 1rem !important;
    font-family: 'GTWalsheimPro-Bold.ttf';
}
.le-format .btn {
    color:rgb(132,132,132);
}
#fcf-form {
    display:block;
}

.fcf-body {
    margin: 0;
    font-family: -apple-system, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #050505;
    padding: 30px;
    padding-bottom: 10px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    max-width: 100%;
}

.fcf-form-group {
    margin-bottom: 1rem;
}

.fcf-input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

.fcf-form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #a3b3b3;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    outline: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.fcf-form-control:focus {
    border: 1px solid #a3b3b3;
}

select.fcf-form-control[size], select.fcf-form-control[multiple] {
    height: auto;
}

textarea.fcf-form-control {
    font-family: -apple-system, Arial, sans-serif;
    height: auto;
}

label.fcf-label {
    display: inline-block;
    margin-bottom: 0.5rem;
	color: #a3b3b3
}

.fcf-credit {
    padding-top: 10px;
    font-size: 0.9rem;
    color:#a3b3b3;
}

.fcf-credit a {
    color: #a3b3b3;
    text-decoration: underline;
}

.fcf-credit a:hover {
    color: #0056b3;
    text-decoration: underline;
}

.fcf-btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .fcf-btn {
        transition: none;
    }
}

.fcf-btn:hover {
    color: #212529;
    text-decoration: none;
}

.fcf-btn:focus, .fcf-btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.fcf-btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.fcf-btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.fcf-btn-primary:focus, .fcf-btn-primary.focus {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.fcf-btn-lg, .fcf-btn-group-lg>.fcf-btn {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
}

.fcf-btn-block {
    display: block;
    width: 100%;
}

.fcf-btn-block+.fcf-btn-block {
    margin-top: 0.5rem;
}

input[type="submit"].fcf-btn-block, input[type="reset"].fcf-btn-block, input[type="button"].fcf-btn-block {
    width: 100%;
}